body {
  padding: 0;
  margin: 0;
}

:root {
  --sidebar-width: 280px;
  --footer-height: 20px;
  --sidebar-item-height: 40px;
  --height: 50px;
}

#sidebar {
  height: 100vh;
  width: calc(var(--sidebar-width) * 3);
  position: fixed;
  margin-right: calc(100vw - var(--sidebar-width));
  left: 0;
  top:0;
  bottom: 0;
  z-index: 1;

  overflow-x: hidden;
  overflow-y: hidden;
}

#sidebar-internal {
  height: 100%;
  width: var(--sidebar-width);
  position: fixed;
  margin-right: calc(100vw - var(--sidebar-width));
  left: 0;
  top:0;
  bottom: 0;
  z-index:-1;
  background-color: lightgrey;

  overflow-x: hidden;
  overflow-y: hidden;
}


main {
  height: calc(100vh - var(--footer-height)); 
  width: calc(100vw - var(--sidebar-width));
  position: fixed;
  top: 0;
  left: var(--sidebar-width);
  margin: 20px;
  z-index: 0;
}

footer {
  font-size: 14px;
  text-align: center;
  height: var(--footer-height);
  width: calc(100vw - 250px);
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
  left: 250px;
}

footer p {
  vertical-align: center;
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width:5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  z-index: -2;
}
